* {
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: rgb(255, 68, 130);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 540px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao_pedido {
    margin-top: 20px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: rgb(158, 158, 158);
    padding: 5px 30px;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
}
